# Ignore the build folder
_build/
??_exercice_solution.ipynb
??_cours.html
# notes de travail locales laissees a la racine
/[A-Z]*.md
# archive of the solution notebooks (gitignored like the notebooks themselves)
solutions.zip
